In [77]:
import pandas as pd

In [78]:
clean_df=pd.read_csv('../artifacts/data/cleaned_data.csv')
clean_df

,title,price,rating,reviews,availability,Category
0,Peter England Men's Everday Regular Fit Solid ...,0.0,4.0,554,In stock,men shirt
1,Amazon Brand - Symbol Men's Cotton Shirt | Cas...,0.0,3.8,7182,In stock,men shirt
2,Amazon Brand - Symbol Men's Cotton Shirt | Chi...,0.0,3.9,6603,In stock,men shirt
3,Lymio Casual Regular Fit Shirt for Men|| Regul...,0.0,3.7,2056,In stock,men shirt
4,Men's Solid Linen Cotton Shirt | Casual | Plai...,0.0,2.8,55,In stock,men shirt
...,...,...,...,...,...,...
2082,Daniel Hechter Paris Orsay Collection Multifun...,0.0,0.0,0,In stock,watches
2083,OLEVS Men's Business Watch Gold Blue with Larg...,0.0,3.6,1770,In stock,watches
2084,LOUIS DEVIN WT030 Leather Strap Analog Wrist W...,0.0,3.7,3336,In stock,watches
2085,Carlington Iconic Analog Wrist Watches for Men...,0.0,4.3,128,In stock,watches
2086,Carlington Resin Endurance Analog-Digital Spor...,0.0,4.2,1635,In stock,watches

In [79]:
raw_df=pd.read_csv('../artifacts/data/raw_data.csv')
raw_df

,title,price,rating,reviews,availability,Category
0,Peter England Men's Everday Regular Fit Solid ...,,4.0 out of 5 stars,554 ratings,Available to ship in 1-2 days,amazon_men shirt_data
1,Amazon Brand - Symbol Men's Cotton Shirt | Cas...,,3.8 out of 5 stars,"7,182 ratings",In stock,amazon_men shirt_data
2,Amazon Brand - Symbol Men's Cotton Shirt | Chi...,,3.9 out of 5 stars,"6,603 ratings",In stock,amazon_men shirt_data
3,Lymio Casual Regular Fit Shirt for Men|| Regul...,,3.7 out of 5 stars,"2,056 ratings",In stock,amazon_men shirt_data
4,Men's Solid Linen Cotton Shirt | Casual | Plai...,,2.8 out of 5 stars,55 ratings,In stock,amazon_men shirt_data
...,...,...,...,...,...,...
2941,SKMEI Men's Analog Sports Watch Waterproof Led...,,4.7 out of 5 stars,67 ratings,In stock,amazon_watches_data
2942,Matrix Antique 2.0 Day & Date Softest Silicone...,,4.0 out of 5 stars,"2,447 ratings",In stock,amazon_watches_data
2943,BENYAR Automatic Mechanical Skeleton Leather S...,,4.0 out of 5 stars,"1,062 ratings",In stock,amazon_watches_data
2944,Sapphero Men Watches 50M Waterproof Wristwatch...,,4.2 out of 5 stars,256 ratings,In stock,amazon_watches_data
2945,Shocknshop Digital Sports Stylish Multifunctio...,,4.0 out of 5 stars,791 ratings,In stock,amazon_watches_data

In [80]:
raw_df.isna().sum()

title             0
price             0
rating            0
reviews         201
availability     97
Category          0
dtype: int64

In [81]:
clean_df.isna().sum()

title           0
price           0
rating          0
reviews         0
availability    0
Category        0
dtype: int64

In [82]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2087 entries, 0 to 2086
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2087 non-null   object
 1   price         2087 non-null   float64
 2   rating        2087 non-null   float64
 3   reviews       2087 non-null   int64
 4   availability  2087 non-null   object
 5   Category      2087 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 98.0+ KB

In [83]:
clean_df['availability'].value_counts()

availability
In stock         2008
Not Available      79
Name: count, dtype: int64

In [90]:
clean_df['Category'].value_counts()

Category
sofa                  326
watches               301
men shirt             254
headphone             160
washing machine       153
fridge                152
laptop                147
books                 147
smart tv              145
mobile accessories    143
sneakers              113
tablet                 46
Name: count, dtype: int64

In [84]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2946 non-null   object
 1   price         2946 non-null   object
 2   rating        2946 non-null   object
 3   reviews       2745 non-null   object
 4   availability  2849 non-null   object
 5   Category      2946 non-null   object
dtypes: object(6)
memory usage: 138.2+ KB

In [85]:
raw_df['Category'].value_counts()

Category
amazon_men shirt_data             480
amazon_watches_data               444
amazon_sofa_data                  378
amazon_laptop_data                220
amazon_washing machine_data       220
amazon_headphone_data             220
amazon_smart tv_data              196
amazon_books_data                 196
amazon_fridge_data                190
amazon_mobile accessories_data    178
amazon_sneakers_data              166
amazon_tablet_data                 58
Name: count, dtype: int64

In [86]:
raw_df['rating'].value_counts()

rating
4.0 out of 5 stars                             339
4.2 out of 5 stars                             193
4.3 out of 5 stars                             185
4.5 out of 5 stars                             181
4.4 stars                                      179
4.1 out of 5 stars                             171
3.9 out of 5 stars                             159
4.4 out of 5 stars                             158
Previous page                                  149
3.8 out of 5 stars                             138
4.5 stars                                      127
5.0 out of 5 stars                             110
4.7 stars                                      108
4.3 stars                                       95
3.7 out of 5 stars                              85
4.7 out of 5 stars                              83
3.6 out of 5 stars                              72
4.6 out of 5 stars                              70
3.5 out of 5 stars                              45
4.2 stars                                       42
3.4 out of 5 stars                              28
4.8 out of 5 stars                              26
4.8 stars                                       25
3.0 out of 5 stars                              23
4.1 stars                                       23
3.3 out of 5 stars                              18
4.9 out of 5 stars                              17
3.1 out of 5 stars                              15
3.2 out of 5 stars                              14
2.0 out of 5 stars                              10
2.9 out of 5 stars                               8
4.6 stars                                        8
Previous slide of product details                7
Previous page of related Sponsored Products      7
2.8 out of 5 stars                               6
2.7 out of 5 stars                               5
1.9 out of 5 stars                               3
1.7 out of 5 stars                               3
1.0 out of 5 stars                               3
2.1 out of 5 stars                               3
2.5 out of 5 stars                               2
2.4 out of 5 stars                               1
2.3 out of 5 stars                               1
1.4 out of 5 stars                               1
Name: count, dtype: int64

In [87]:
clean_df['rating'].value_counts()

rating
4.4    262
4.5    237
4.3    221
4.0    177
4.2    170
4.7    132
4.1    129
0.0    117
3.9    109
3.8     91
5.0     80
4.6     60
3.7     59
3.6     58
4.8     36
3.5     34
3.4     23
3.0     18
3.3     12
4.9     12
3.1     12
3.2      9
2.0      5
2.9      5
2.8      4
1.7      3
2.1      3
1.0      3
1.4      1
2.4      1
2.5      1
2.3      1
2.7      1
1.9      1
Name: count, dtype: int64

In [88]:
raw_df['price'].value_counts()

price
              1122
₹1,299.00       32
₹999.00         23
₹18,999.00      20
₹1,099.00       20
              ...
₹32,899.00       1
₹32,498.00       1
₹24,399.00       1
₹8,009.00        1
₹1,165.00        1
Name: count, Length: 691, dtype: int64

In [89]:
raw_df['availability'].value_counts()

availability
In stock                                                2417
Not Available                                            142
Only 1 left in stock.                                    117
Available to ship in 1-2 days                             78
Only 2 left in stock.                                     57
Only 4 left in stock.                                     12
Only 5 left in stock.                                     12
Only 3 left in stock.                                     11
This title will be released around November 4, 2025.       2
This title will be released around May 8, 2025.            1
Name: count, dtype: int64